@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Simple_API_Database.Models.EF_Models.Loser>
<img src="~/img/loser.jpg" alt="Larn Visual Studio" class="img-responsive" style="text-align:center" />

<h2>Losing Stocks</h2>
<hr />
<b>
    <h3>Below is information pertaining to underperforming stocks. Click the save button below to store the data.</h3>
</b>
<h6>
    These stocks should be avoided as they do not yield great returns.
</h6>
</b>

<table class="table">
    <thead>
        <tr>
            <th>
                Symbol
            </th>
            <th>
                Name
            </th>
            <th>
                Primary Exchange
            </th>
            <th>
                Sector
            </th>
            <th>
                Opening Price
            </th>
            <th>
                Closing Price
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.primaryExchange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sector)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.open)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.close)
            </td>
        </tr>
        }

        @{
            Model.Count();
        }
    </tbody>
</table>
<tr>
    <td>
        <a id="dbopt" asp-controller="Home" asp-action="PopulateLosingSymb"><img src="~/img/button_save-data.png" /></a>
    </td>
</tr>